@using Eshop.Models
@inject IHttpContextAccessor Accessor
@{
    var id = Accessor.HttpContext.Session.GetInt32("id");
}
@section positonZindex{

    <style>
    .card-body{
        height:16rem;
    }
     .displaya{
        display: flex;
    justify-content:space-around;
    }
    .positonZindex{
    position: relative;
    width:100%;
}
.positonZindex >div{
    position: absolute;
    width:100%;
   
}
#zindex1{
    
    z-index: 2;
}
#zindex2{
    text-align: center;
    background-color: #f8f9fa;
    z-index: -1;
}
.dexaa{
    margin: 0 auto;
z
}
    </style>

}

    @model Account
<section class="h-100 gradient-custom-2">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card">
                        <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                                <img class="Avatar" src="~/img/avatar/@Model.Avatar"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; z-index: 1">


                            </div>
                            <div class="ms-3" style="margin-top: 120px; margin-left:20px">
                                <h3>@Model.Username</h3>
                                <p>@Model.Address</p>
                            </div>
                        </div>
                        <div class="p-4 text-black" style="background-color: #f8f9fa;">
                            <div class="displaya">
                                <div>

                                    <button type="button" class="btn btn-outline-dark" onclick="zindex1()" data-mdb-ripple-color="dark">
                                        Profile
                                    </button>
                                    <button type="button" class="btn btn-outline-dark" onclick="zindex2()" data-mdb-ripple-color="dark">
                                        Password
                                    </button>
                                    <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">
                                        <a asp-action="update" asp-controller="Accounts" asp-route-Id="@id">Edit profile</a>
                                    </button>
                                </div>
                                <div class="d-flex justify-content-end text-center">
                                    <div>
                                        <p class="mb-1 h5">253</p>
                                        <p class="small text-muted mb-0">Photos</p>
                                    </div>
                                    <div class="px-3">
                                        <p class="mb-1 h5">1026</p>
                                        <p class="small text-muted mb-0">Followers</p>
                                    </div>
                                    <div>
                                        <p class="mb-1 h5">478</p>
                                        <p class="small text-muted mb-0">Following</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-body p-4 text-black ">
                            <div class="mb-5 positonZindex">
                                <div id="zindex1">

                                    <div style="background-color: #f8f9fa;">
                                        <p class="lead fw-normal mb-1">About</p>
                                        <p class="font-italic mb-1">@Model.Email</p>
                                        <p class="font-italic mb-1">@Model.Phone</p>
                                        <p class="font-italic mb-0">@Model.FullName</p>
                                    </div>
                                </div>


                                <div id="zindex2">

                                    @using (Html.BeginForm("updatePass", "Accounts", new { @class = "from-inline" }))
                                {

                                    <div>
                                        
                                            <p class="lead fw-normal mb-1">Update Password</p>
                                            <div class="col-lg-9 dexaa" style="text-al">
             
                                                <input type="hidden" asp-for="Id" />
                                                <div class="form-group">
                                                    <input type="password" name="oldPass" class="form-control" placeholder="Password">
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="newPass" class="form-control" placeholder="New Password" id="newPass">
                                                    <span asp-validation-for="Password" class="text-danger" id="newPasstext" style="display:none;">mật khẩu lớn hơn 6 kí tự bao gồm số và chữ</span>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="confiPass" class="form-control" placeholder="confi Pasword" id="confiPass">
                                                    <span asp-validation-for="Password" class="text-danger" id="confiPasstext" style="display:none;">Mật khẩu mới không khớp vui lòng nhập lại</span>
                                                </div>
                                                <span>@ViewBag.ErrorMess</span>
                                                <div>
                                                    <button type="submit" class="btn btn-success" id="on_off_submit" style="display:none;margin: 0 auto;">ChangePassword</button>
                                                </div>
                                                


                                            </div>
                                        
                                    </div>


                                    }
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <style>
        .gradient-custom-2 {
            background: #fbc2eb;
            background: -webkit-linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
            background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1))
        }
    </style>

    <a asp-controller="Home" asp-action="Index">Back to</a>
    @section zindex{
    <script>
        let element1 = document.getElementById('zindex1');
        let element2 = document.getElementById('zindex2');
        function zindex1() {
            element1.style.zIndex = "1";
            element2.style.zIndex = "-1";
        }
        function zindex2() {
            element1.style.zIndex = "-1";
            element2.style.zIndex = "1";
        }
        
    </script>
    <script>
        var b = /^([0-9])[a-zA-Z0-9]{6,15}$/;
$("#newPass").keyup(function() {
    var a = $(this).val();
    
    if (a.match(b)) {
        console.log($(this).val());
        $("#newPasstext").css("display", "none");
    }else {
        $("#newPasstext").css("display", "block"); 
    }
})
         $("#confiPass").keyup(function() {
        var newpass = $("#newPass").val();
        var confipass = $("#confiPass").val();
             console.log(newpass, confipass);
             if (newpass === confipass && newpass.match(b)) {
                 $('#on_off_submit').css("display", "block");
                 $('#confiPasstext').css("display", "none");
             }
             else {
                 $('#on_off_submit').css("display", "none");
                 $('#confiPasstext').css("display", "block");
             }
})
    </script>
}

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
       
    }
	}
