@inject IHttpContextAccessor Accessor
@model IEnumerable<Cart>
@{
	var id = Accessor.HttpContext.Session.GetInt32("id");
	var total=0;
}
<!--================Home Banner Area =================-->

<!--================End Home Banner Area =================-->
<!--================Cart Area =================-->
<section class="cart_area">
	<div class="container">
		<div class="cart_inner">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Product</th>
							<th scope="col">Price</th>
							<th scope="col">Quantity</th>
							<th scope="col">Total</th>
							<th scope="col">Function</th>
						</tr>
					</thead>
					<tbody>
						
							@if (@ViewBag.items!=null)
						{
							@foreach (var item in @ViewBag.items)
							{
								total +=(@item.Product.Price*@item.Quantity);
								@using (Html.BeginForm("Save", "Carts", new { @class = "from-cart" }))
										{
											<input type="hidden" name="Id" value="@item.Id"/>
										 <input type="hidden" name="AccountId" value="@id"/>
										 
								<tr>
									<td>
										<div class="media">
											<div class="d-flex w-60" style="width:15rem">
												<img style="width:100%" src="~/img/product/@item.Product.Image"
											 alt="" />
											</div>
											<div class="media-body">

												<input type="hidden" name="ProductId" value="@item.Product.Id"/>
												<p>@item.Product.Name</p>
											</div>
										</div>
									</td>
									<td>
										<h5>$@item.Product.Price</h5>
									</td>
									<td>
										<input type="hidden" class="check" value="@item.Quantity">
											@if (item.Quantity <= item.Product.Stock)
											{
												<input class="check2" oninput="myFunctions()" type="number" name="Quantity" min="0" max="@item.Product.Stock"value="@item.Quantity"title="Quantity:"/>
											}
											else
											{
												<input class="check2" oninput="myFunctions()" type="number"
										   name="Quantity"
										   min="0"
										   max="@item.Product.Stock"
										   value="@item.Product.Stock"
										   title="Quantity:"/>
										   <span>Bạn hãy liên hệ shop để nhận những thông tin về sản phẩm này nhé</span>
											}
											 

									</td>
									<td>
										<h5>@(item.Product.Price*@item.Quantity)</h5>
									</td>
									<td>
										<button class="main_btn" type="submit">Save</button>
										 
									</td>
									
								</tr>
							}

						}
						}
						
						

						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<h5>Subtotal</h5>
							</td>
							<td>
								<h5>$@total</h5>
							</td>
						</tr>
						<tr class="out_button_area">
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<div class="checkout_btn_inner">
									<a class="gray_btn" asp-action="Index" asp-controller="Products">Continue Shopping</a>
									<a class="main_btn" asp-action="Purchase" asp-controller="Invoices">Proceed to checkout</a>
								</div>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
@section checkSave{
 
}