@model IEnumerable<Eshop.Models.Invoice>
@{
    ViewData["Title"] = "Quản lí hóa đơn";
}
@section Styles{
    <link href="~/lib/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách hóa đơn</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Account.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShippingAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShippingPhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Account.FullName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssuedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShippingAddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ShippingPhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                    </tfoot>
                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                @Html.DisplayFor(modelItem => item.Code)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.Account.FullName)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.IssuedDate)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.ShippingAddress)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.ShippingPhone)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.Total)
                            </th>
                            <th>
                                @Html.DisplayNameFor(modelItem => item.Status)
                            </th>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Index" asp-controller="InvoiceDetails" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <!-- Page level plugins -->
    <script src="~/lib/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}